body{
    background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
    color: white;
}


.container {
    width:1000px;
    margin: auto;
}

.logo {
    width:100px;
}

.text {
    font-size:20px;
    display:inline-block;

}

h2 > span
{
    color:red;
    background-color: orange;
    border-radius: 50px;
    padding: 5px;
}

.email.read{
    background-color: lightgrey;
}

.email.unread{
    background-color: white;
}

.subjet
{
 color: black;
}

.star
{
    color: orange;
}

.row .body {
    color: grey;
}

.row .body::after {
    content: '...';
}

.row-left, .row-right{
    display: inline-block;
}

.row-left{
    width: 30%;
}

.row-right{
    width: 68%;
}

footer {
    text-align: center;
}

footer > span {
    font-size: 25px;
}
 


.star::after {
        content: "\2605";

}